body{
    background-color:black ;
    font-family: century gothic;
}
.navbar-brand img{
    height: 35px;
}
.navbar-light{
    background-color: #FFD600 ;
}
.mainlogo {
    width: 100%;
}
.row-content{
    margin: 50px auto;
    padding:50px 0px;
    border-bottom: 1px ridge  #FFD600 ;
    min-height: 400px; 
}
.nav-item{
    padding: 0px 5px;
}
.mission-vision{
    color: #FFD600;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.hide{
    display: none;
}
.container{
    color: #FFD600;
    padding-top: 0px;
}
.iconify{
    width: 200px;
    height: 200px;
    color: #FFD600;
}
.products{

    padding: 50px;
    justify-content:center;
    text-align: center;
}
#expCarousel .carousel-caption{
    color: black;
    font-size: 2.5rem;
    justify-content: center;
}
#expCarousel .carousel-item-next.carousel-item-left,
#expCarousel .carousel-item-prev.carousel-item-right {
-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
 }
 #expCarousel .carousel-item-next,
 #expCarousel .active.carousel-item-right {
   -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
 }
 #expCarousel .carousel-item-prev,
 #expCarousel  .active.carousel-item-left {
 -webkit-transform: translate3d(0, +100%, 0);
        transform: translate3d(0, +100, 0);
 }
 #expCarousel{
     width: 100%;
     margin: 0 auto;
 }
footer{
    background-color: #3C3C3C;
    color:#867002 ;
    
}
footer .iconify,footer h5{
    color:#867002 ;

}
.footer-contents{
    justify-content: space-between;
    margin-top: 50px;
}
.footer-box{
    background-color: #343434;
    justify-content: space-around;
    text-align: center;
    padding-top: 20px;
    min-height: 200px;
}
.row-content-noborder{
    margin: 50px auto;
    padding:50px 0px;
    min-height: 200px; 
}

.footer-box .iconify{
    width: 15px;
    height: 15px;
}
.list-unstyled li a{
    color:#867002 ;
    font-size: .75rem;
}
.popover-header{
    color: black;
    background-color:#FFD600 ;
}
.popover-body{
    color: black;
    background-color:white ;
}
.contact{
    background-color: rgb(8, 8, 8);
    color: #FFD600;
    background-size: 100%.100%;
    width: 100%;
    height: 100vh;
   
}
.contact .fa{
  
    font-size: 35px;
}
.effect-1{
    border: 0;
    outline: none;
    width: 95%;
    padding: 7px 0;
    border-bottom: 1px solid #FFD600;
}
.effect-1 ~ focus-border{
    position: absolute; bottom: 0;
    width: 0; height: 2px;
    background-color: #ffff00;
    transition: 0.4s;
}
.effect-1:focus~.focus-border{
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.btn1{
    background: #FFD600;
    color: black;
    border: none;
    outline: none;
    width: 145px;
    height: 40px; 
    border-radius: 7px;
}

<<<<<<< HEAD
#accordion{
    padding-top: 50px;
    justify-content: center;
    text-align: left;
}
#accordion .card{
    border: #FFD600 1px solid;
    border-top: black 1px solid;
    padding: 0px;
}
#accordion .card-header{
    background-color:#FFD600 ;
    color: black;
  
}
#accordion .card-body{
    background-color:black ;
    color: #FFD600;
    padding: 0;

}

.accordion-image{
    width: 250px;
}
.accordion-text{
    padding-top:50px ;
}
=======


.container {
    max-width: 900px;
}

.card {
    border-radius: 0.5rem;
    box-shadow: #ffff0;
}

@media(max-width:767px) {
    .card {
        margin: 1rem 0.7rem 1rem;
        max-width: 80vw
    }
}

img {
    width: 6.2rem;
    border-radius: 5rem;
    margin: 1rem auto 1rem auto
}

.col-md-4 {
    padding: 0 0.5rem
}

.card-title {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'IM Fell French Canon SC'
}

.card-text {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    color: rgb(82, 81, 81);
    line-height: 1.4rem
}

.footer {
    border-top: none;
    text-align: center;
    line-height: 1.2rem;
    padding: 2rem 0 1.4rem 0;
    font-family: 'Varela Round'
}

#name {
    font-size: 0.8rem;
    font-weight: bold
}

#position {
    font-size: 0.7rem
}

a {
    color: rgb(151, 248, 6);
    font-weight: bold
}

a:hover {
    color: rgb(151, 248, 6)
}
>>>>>>> upstream/main
